@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    font-family: 'Press Start 2P', cursive;
    background-image: url(https://img.freepik.com/fotos-premium/codigo-programa-digital_620652-28752.jpg?w=740);
    background-size: cover;
    background-repeat:no-repeat ;
}

.login-box{
    padding: 35px;
    width: 25%;
    height: auto;
    margin: auto;
    margin-top: 7%;
    border-radius: 10%;
    border: solid #0059ff66 2px;
    background-color: #000000;
    color:  white;
    text-align: center;
    position: relative;

}
.login-box .avatar{
    width: 130px;
    height: 130px;
    position: absolute;
    top: -3%; 
    left: 50%;
    transform: translate(-50%,-50%); 

}
h1{
    color: #fff700;
}
input{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10em;

}
input[type="text"],[type="password"]{
    width: 80%;
    padding: 10px;
    margin: 5px;
}
input[type="submit"]{
    width: 80%;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

input[type="submit"]:hover{
    background-color: #fff700;
    cursor: pointer;
}
.text_a{
    font-size: 13px;
    padding: 3px;
    margin: 10px;
}
    .text_a :hover{
        color: #fff700; 
    }
.text_b{
    font-size: 13px;
    padding: 3px;
    margin: 10px;

}
    .text_b :hover{
        color: #fff700;
    }
p{
    margin-top: 30px;
    margin-bottom: 0%;
    font-size: 10px;
}

